body {
    background-image: url("./weather\ app\ pic.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 0px;
}

/* .main{
    border: 1px solid black;
    margin: 100px 70px 50px 70px;
} */

.container {
    /* border: 1px solid black; */
    margin-top: 130px;
    background: linear-gradient(to bottom, #00BFFF, #87CEFA);
box-shadow: none;
}

.first {
    font-size: 40px;
}

.first span {
    margin-right: 20px;
}