* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, sans-serif;

}

body {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        linear-gradient(135deg,
            #4facfe,
            #00f2fe);

    padding: 20px;

}

.converter-box {

    background: transparent;

    padding: 35px;

    border-radius: 20px;

}

.flag-img {

    transition: 0.3s;

}

.flag-img:hover {

    transform: scale(1.1);

}

.swap-btn {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    font-size: 24px;
    color: deeppink;

}

#resultBox {

    background: transparent;

    padding: 20px;

    border-radius: 15px;

    text-align: center;

}

#newAmount {

    font-size: 30px;

    color: deeppink;

    font-weight: bold;

}

#exchangeRate {

    color: gray;

}

button {

    transition: 0.3s;

}

button:hover {

    transform: scale(1.02);

}

@media(max-width: 600px) {

    .converter-box {

        padding: 20px;

    }

}