*{
    padding: 0;
    margin: 0;
    font-family: "popins",sans-serif;
}

header{
    border: 2px solid black;
}

.logo
{
    margin: 2px;
    padding: 2px;

    img{
        height: 50px;
        width: 150px;
    }
}

.nav{
  margin: 4;
}


