#bulb1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-light1 {
    margin-top: 5px;
    background: yellow;
}

.btn-light2 {
    margin-top: 5px;
    background: white;
}

.btn-light3 {
    margin-top: 5px;
    background: red;
}

.btn-light4 {
    margin-top: 5px;
    background: green;
}