

body {
    background-color: hsl(204, 86%, 23%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
} */

body {
    background-image: url("./weatherpic2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.weather-app {
    background-color: #a1c2e3;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
}

.weather-app:hover {
    background-image: url("./weather\ app\ pic.jpg");
    background-size: cover;
    background-position: center;
    background-color: #1E3A8A;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.6);
    transform: scale(1.02);
    transition: all 0.3s ease;
    cursor: pointer;
   
}

.first {
  display: flex;             
  align-items: center;       
  justify-content: center;    
  gap: 19px;                  
  font-size: 24px;    
}


.search-form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 15px;
    font-size: 1rem;
    height: 3.5rem;
}

.search-btn {
    background-color: #3498db;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    transition: backgroung-color 0.3s ease;
}

.search-btn:hover {
    background-color: #2980b9;
}

.city-date-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.city-date-section .city {
    font-size: 2rem;
    opacity: 0.9;
}

.city-date-section .date {
    background-color: #c3eaf4;
    padding: 5px 10px;
    border-radius: 15px;
}

.temperature-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.temperature-info .temp {
    font-size: 10rem;
}

.temperature-info .description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.temperature-info .description i {
    font-size: 1.5rem;
    opacity: 0.8;
}

.temperature-info .description span {
    font-size: 1.5rem;
}

.additional-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.wind-info,
.humidity-info,
.visibility-info {
    background-color: #FFFACD;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wind-info:hover,
.humidity-info:hover,
.visibility-info:hover {
    background-color: #a1c2e3;
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}



/* .wind-info {
    background-color: #B0C4DE;
}

.humidity-info {
    background-color: #20B2AA;
}

.visibility-info {
    background-color: #FFFACD;
} */

.additional-info .material-icons {
    font-size: 3rem;
    opacity: 0.8;
}

.wind-info div,
.humidity-info div,
.visibility-info div {
    text-align: center;